h1{
  font-size: 5em;
  font-style: italic;
  text-align:inherit;
}
body{

  color: red;
}
#navigatel{
  font-size: 2em;
  font-family: cursive;
}
/* th{
  border:1px solid black;
} */

button{
  height: 50px;
  width: 80px;
}
